- content_for(:title, "Leistungen • Physio")
-# content_for(:description, "Nutzen Sie das Wissen der modernen Sportmedizin und lassen Sie sich von erfahrenen Trainiern persönlich beraten und motivieren.")
-# content_for(:keywords, "Sport, Reha, Rehabilitation, Sporttherapie, Personal Training, Kinesiotaping, Athletik")


#leistungen

  %section.page-header
    .container
      %h1.title.is-1 Leistungen


  %section.section.leistungen
    .container

      .columns
        .column.is-4
          .card
            .card-image
              %figure.image
                = image_tag image_url("leistungen/athletik-training.jpg"), alt: "Manuelle Therapie"
            .card-content
              .media
                .media-content
                  %h2.title.is-4 Manuelle Therapie
              .content
                %p Die Manuelle Therapie spielt in der Physiotherapie eine wichtige Rolle. Dabei werden spezielle Handgriffe angewandt, die zum einen zum Lindern von Schmerzen genutzt werden und zum anderen Bewegungseinschränkungen verbessern. Diese Anwendung wird nicht nur bei der Behandlung von Funktionsstörungen eingesetzt, sondern dient auch der Befunderhebung, um Bewegungsstörungen im Bereich der Extremitätengelenke oder der Wirbelsäule zu lokalisieren und analysieren.

        .column.is-4
          .card
            .card-image
              %figure.image
                = image_tag image_url("leistungen/personal-training.jpg"), alt: "Krankengymnastik"
            .card-content
              .media
                .media-content
                  %h2.title.is-4 Krankengymnastik
              .content
                %p Krankengymnastische Behandlungstechniken dienen dazu z.B. Fehlentwicklungen, Erkrankungen und verletzungsbedingte Funktionsstörungen des Bewegungsapparates und des Nervensystems mit mobilisierenden und stabilisierenden Techniken zu verbessern. Ebenfalls können aktive Übungen zur Verbesserung der Stabilität, Beweglichkeit und Kraft des Körpers angeleitet werden. Ziel ist es hier dem Patienten ein bestmögliches individuelles Angebot zu schaffen, welches aus passiven und aktiven Behandlungstechniken besteht. Auch ein Eigenübungsprogramm ist ein wichtiger Bestandteil.

        .column.is-4
          .card
            .card-image
              %figure.image
                = image_tag image_url("laktatdiagnostik/laktat2.jpg"), alt: "Osteophatische Behandlung"
            .card-content
              .media
                .media-content
                  %h2.title.is-4 Osteophatische Behandlung
              .content
                %p Osteopathie ist eine Form der manuellen Therapie zur Untersuchung und Behandlung des Bewegungsapparates (parietales System), der Organe und ihrer Aufhängungen (viszerales System), sowie des zentralen Nervensystems über den Schädel und seine Verbindung zum Kreuzbein über die Wirbelsäule und das Rückenmark (kraniosakrales System).

      .columns
        .column.is-4
          .card
            .card-image
              %figure.image
                = image_tag image_url("leistungen/screeningverfahren.jpg"), alt: "Krankengymnastische Techniken bei Craniomandibuläre Dysfunktion (CMD)"
            .card-content
              .media
                .media-content
                  %h2.title.is-4 Krankengymnastische Techniken bei Craniomandibuläre Dysfunktion (CMD)
              .content
                %p Funktionsstörungen, die durch Fehlstellungen zwischen Halswirbelsäule, Schädel und Unterkiefer entstehen, können eine gestörte Kaufunktion hervorrufen. Symptome sind z. B. Kieferschmerzen, Kopfschmerzen, Ohrgeräusche sowie Zähneknirschen. Durch gezielte Krankengymnastik können diese Fehlstellungen korrigiert werden. Zahnärzte haben die Möglichkeit diese Behandlungen zu verschreiben.

        .column.is-4
          .card
            .card-image
              %figure.image
                = image_tag image_url("leistungen/praeventive-vorsorge.jpg"), alt: "Manuelle Lymphdrainage"
            .card-content
              .media
                .media-content
                  %h2.title.is-4 Manuelle Lymphdrainage
              .content
                %p Manuelle Lymphdrainage ist eine Spezialform der Massage mit sehr weicher Grifftechnik. Sie dient hauptsächlich als Ödem- und Entstauungstherapie für geschwollene Körperregionen – z.B. nach Brustkrebsoperationen, Lipödemen und traumatischen oder postoperativen Ödemen. Sie verschafft den Patienten spürbare Erleichterung und kann den Heilungsprozess beschleunigen. Hierbei ist das Ziel Abflussförderung von interstitiellen Flüssigkeit über das Lymph- und Venengefäßsystem anzuregen.

        .column.is-4
          .card
            .card-image
              %figure.image
                = image_tag image_url("leistungen/praeventive-vorsorge.jpg"), alt: "Klassische Massage"
            .card-content
              .media
                .media-content
                  %h2.title.is-4 Klassische Massage
              .content
                %p Mechanische und manuelle Anwendung der Massagegrundgriffe wie Streichungen Klopfungen und Vibrationen, bzw. eine Kombination aus diesen. Ziel ist es Muskulatur zu entspannen, Schmerz zu lindern, Durchblutung anzuregen und gewebliche Verklebungen zu lösen.

