- content_for(:title, "Athletik Leistungen")
- content_for(:description, "Nutzen Sie das Wissen der modernen Sportmedizin und lassen Sie sich von erfahrenen Trainiern persönlich beraten und motivieren.")
- content_for(:keywords, "Sport, Reha, Rehabilitation, Sporttherapie, Personal Training, Kinesiotaping, Athletik")


#leistungen

  %section.page-header
    .container
      %h1.title.is-1 Leistungen


  %section.section.leistungen
    .container

      .columns
        .column.is-4
          = link_to page_path("athletik/leistungen/athletik") do
            .card
              .card-image
                %figure.image
                  = render "picture", image: "leistungen/athletik-training.jpg", sizes: [366, 302, 307, 718], alt: "Athletik Training"
              .card-content
                .media
                  .media-content
                    %h2.title.is-4 Athletik Training
                .content
                  %p Motivierendes Training in einer Gruppe mit Gleichgesinnten. Ein professioneller Trainer bestimmt das Training und achtet auf korrekte Ausführung.

        .column.is-4
          = link_to page_path("athletik/leistungen/personal-training") do
            .card
              .card-image
                %figure.image
                  = render "picture", image: "leistungen/personal-training.jpg", sizes: [366, 302, 307, 718], alt: "Personal Training"
              .card-content
                .media
                  .media-content
                    %h2.title.is-4 Personal Training
                .content
                  %p Ein individuelles Training abgestimmt auf deine Leistungsfähigkeit und Trainingsziele. Ein professioneller Trainer leitet dich an.

        .column.is-4
          = link_to page_path("athletik/leistungen/laktatdiagnostik") do
            .card
              .card-image
                %figure.image
                  = render "picture", image: "laktatdiagnostik/laktat2.jpg", sizes: [366, 302, 307, 718], alt: "Laktatmessung"
              .card-content
                .media
                  .media-content
                    %h2.title.is-4 Laktatdiagnostik
                .content
                  Eine Beurteilung für dein aktuelles Ausdauerleistungsvermögens. Erfahre deine aerobe Kapazität und erhalte individuelle Trainingsempfehlungen.


      .columns
        .column.is-4.is-offset-2
          = link_to page_path("athletik/leistungen/screeningverfahren") do
            .card
              .card-image
                %figure.image
                  = render "picture", image: "leistungen/screeningverfahren.jpg", sizes: [366, 302, 307, 718], alt: "Screeningverfahren"
              .card-content
                .media
                  .media-content
                    %h2.title.is-4 Screeningverfahren
                .content
                  %p Skalierung und Bewertung von Körperfunktion und -leistung mit einem Functional Movement Screen an. Dieser hat es sich zum Ziel gesetzt den Körper in seiner Funktion genauer unter die Lupe zu nehmen.

        .column.is-4
          = link_to page_path("athletik/leistungen/praeventive-vorsorge") do
            .card
              .card-image
                %figure.image
                  = render "picture", image: "leistungen/praeventive-vorsorge.jpg", sizes: [366, 302, 307, 718], alt: "Laktatmessung"
              .card-content
                .media
                  .media-content
                    %h2.title.is-4 Präventive Vorsorge
                .content
                  %p Vorsorge bevor es zu Verletzungen kommt. Analyse und Kompensation unterschiedliche Dysfunktionen im Bewegungsapparat.
