- content_for(:title, "Team • Athletik")
-# content_for(:description, "Nutzen Sie das Wissen der modernen Sportmedizin und lassen Sie sich von erfahrenen Trainiern persönlich beraten und motivieren.")
-# content_for(:keywords, "Sport, Reha, Rehabilitation, Sporttherapie, Personal Training, Kinesiotaping, Athletik")


#team

  %section.page-header
    .container
      %h1.title.is-1 Team

  %section.section
    .container

      .columns.mb-6
        .column.mate
          = render "picture", image: "team/athletik/lisa.jpg", sizes: [326, 326, 326, 326]
        .column.content
          %h2.title Lisa
          %p
            %div Lisa kommt ursprünglich aus der Hauptstadt Berlin und lebt seit 2013 in München.
            %div.mt-1 Ihre ersten Crossfit Erfahrungen hat sie Anfang 2014 in der Bundeswehr Crossfit Box Kokoro gemacht und wusste: "So fit will ich auch mal werden!".
            %div.mt-1 2015 folgte der CF Level 1 Trainer.

          %p.mb-1
            Zu Ihren größten Herausforderungen gehören:
          %ul.mt-0
            %li Austrian Champions Day 2015
            %li Berlin Throwdown 2016
            %li Munich Clash 2016
            %li Austrian Champions Day 2016
            %li Are you tough enough 2016
            %li Italien Throwdown 2017
            %li Berlin Throwdown 2017
            %li The Alpha Games 2017
            %li Berlin Throwdown 2018

          %p
            %div 2017/2018 wurde sie Deutsche Meisterin im Gewichtheben in der -69&nbsp;kg Gewichtsklasse.
            %div.mt-1 Lisa coacht leidenschaftlich gerne und hat große Freude daran, das funktionelle Training weiterzuvermitteln.

          %p Liebligsübung: Snatch
          %p Best Skill: In Lisas Stunden gibt es immer viel zu Lachen, vor allem aber mit ihr!


      .columns.mb-6
        .column.mate
          = render "picture", image: "team/athletik/laura.jpg", sizes: [326, 326, 326, 326]
        .column.content
          %h2.title Laura
          %p
            %div Ursprünglich kommt diese Frohnatur aus dem schönen Allgäu, lebt allerdings zu unserer Bereicherung nun schon 20 Jahre in München.
            %div.mt-1 Nach vielen Jahren Freizeitsport hat sie sich nachhaltig für das funktionelle Fitnesstraining und Crossfit begeistert (Fitnesstrainer C-Lizenz) und trainert seit 2015 in der Physio Box.
          %p Laura liebt das vielfältige Training in kleinen Gruppen mit hoher Motivation und großem Spaß.
          %p Lieblingsübung: Clean
          %p Best Skill: Laura kommt erst so richtig in Fahrt, wenn du leidest!


      .columns.mb-6
        .column.mate
          = render "picture", image: "team/athletik/julia.jpg", sizes: [326, 326, 326, 326]
        .column.content
          %h2.title Julia
          %p Nach vielen Jahren Vereinssport ist Julia eines Tages zum Probetraining in die Physio Box gekommen und dann zu unserer aller Bereicherung gleich geblieben. Seit nun 5 Jahren ist sie aktives Mitglied der Physio Box mit Crossfit Level 1 Lizenz. Fitnessstudios und alleine trainieren ist nichts für sie - sie liebt es, das Team anzufeuern und zu motivieren.
          %p Lieblingsübung: Dumbbell Snatches
          %p Skill: Wenn du am Boden liegst vor Erschöpfung, dann bleibt sie bei dir und feuert dich an bis Du dein Workout zu Ende gebracht hast!


      .columns.mb-6
        .column.mate
          = render "picture", image: "team/athletik/fj.jpg", sizes: [326, 326, 326, 326]
        .column.content
          %h2.title FJ
          %p
            %div Unbedarft ist er 2014 in eine Crossfit Box in Edinburgh marschiert und wurde von dem Teamgeist, sowie dem Konzept und der Intensität des Funcional Fitness infiziert.
            %div.mt-1 2016 folgte die Crossfit Level 1 Lizenz und seit 2017 ist FJ als Athlet in der Physio Box aktiv.
          %p Lieblingsübung: Double Unders & Bench Press
          %p Skill: Ruhepol, der im richtigen Moment zur Stelle ist!

      .columns.mb-6
        .column.mate
          = render "picture", image: "team/athletik/daniel.jpg", sizes: [326, 326, 326, 326]
        .column.content
          %h2.title Daniel
          %p Seit 2012 begeisterter Crossfit-Jünger und seit 2017 Teil des Physio Box Teams. Er liebt es die Athleten in den Kursen zu quälen und ist seiner veganen Ernährung mit dem gelegentichen Cheeseburger auch sehr treu.
          %p Lieblingsübung: schwere Hanteln rumschmeißen
          %p Skill: Der meist mehr oder weniger hilfreiche Tipp :)
