- content_for(:title, "Team • Funktionelles Training")
-# content_for(:description, "Nutzen Sie das Wissen der modernen Sportmedizin und lassen Sie sich von erfahrenen Trainiern persönlich beraten und motivieren.")
-# content_for(:keywords, "Sport, Reha, Rehabilitation, Sporttherapie, Personal Training, Kinesiotaping, Athletik")

#team

  %section.page-header
    .container
      %h1.title.is-1 Team

  %section.section
    .container
      .columns.is-multiline.is-centered

        .column.content.is-half-tablet.is-one-third-desktop
          .mate
            .has-text-centered
              = render "picture", image: "team/athletik/katharina.jpg", sizes: [350, 350, 350, 350]
              %h3.name.title.is-4 Katharina
              %h4.subtitle.is-6 Head Coach

            %ul
              %li Physiotherapeutin
              %li CrossFit - OL1
              %li CrossFit Gymnastics L1
              %li Certified Functional Trainer
              %li Functional Movement Screen (FMS) Level 1+2 i.&thinsp;A.

            %span.has-text-weight-semibold Unsere Spezialistin für:
            %ul.has-header
              %li Funktionelles Training
              %li Mobility & Prehab
              %li Gymnastics
              %li Sportrehabilitation

            %p
              %span.has-text-weight-semibold Sportlicher Background:
              %br/
              CrossFit Athletin und seit Jahren im Synchronschwimmen, Skifahren und Reiten aktiv.

            %p „Wie lange ich die Luft anhalten kann? JA!“

            %p
              %span.has-text-weight-semibold Lieblingsübung:
              %br/
              Burpees über alles Mögliche


        .column.content.is-half-tablet.is-one-third-desktop
          .mate
            .has-text-centered
              = render "picture", image: "team/athletik/sabrina.jpg", sizes: [350, 350, 350, 350]
              %h3.name.title.is-4 Sabrina
              %h4.subtitle.is-6 Coach & Programming

            %ul
              %li M.A. Prävention und Gesundheitsmanagement
              %li CrossFit - L1
              %li DOSB-C-Trainerin Leistungssport Gewichtheben
              %li Trainerin Sportrehabilitation
              %li CAT Level 1 & Level 2 Athletiktrainerin
              %li Ernährungsberaterin & Functional Nutrition Coach

            %span.has-text-weight-semibold Unsere Spezialistin für:
            %ul.has-header
              %li Funktionelles Training
              %li Gewichtheben
              %li Krafttraining
              %li Mobility & Prehab
              %li Sportrehabilitation

            %p
              %span.has-text-weight-semibold Sportlicher Background:
              %br/
              Athletin Olympisches Gewichtheben und jahrelang in diversen Teamsportarten und Springreiten aktiv gewesen.

            %p „Technik ist das A & O, Leute. Ich höre sogar, wenn ihr was falsch macht!“

            %p
              %span.has-text-weight-semibold Lieblingsübung:
              %br/
              Snatch, Front Squat, Sled Push & Pull


        .column.content.is-half-tablet.is-one-third-desktop
          .mate
            .has-text-centered
              = render "picture", image: "team/athletik/daniel.jpg", sizes: [350, 350, 350, 350]
              %h3.name.title.is-4 Daniel
              %h4.subtitle.is-6 Coach

            %ul
              %li Functional Trainer
              %li Strength & Conditioning Coach

            %span.has-text-weight-semibold Unser Spezialist für:
            %ul.has-header
              %li Funktionelles Training
              %li Gewichtheben
              %li Krafttraining

            %p
              %span.has-text-weight-semibold Sportlicher Background:
              %br/
              CrossFit Athlet seit 2012 und Mitglied der Physiobox seit 2017.

            %p „Ich dreh mal die Musik lauter, dann höre ich euch nicht so schwer atmen.“

            %p
              %span.has-text-weight-semibold Lieblingsübung:
              %br/
              Snatch, Seilklettern & Sled Push


        .column.content.is-half-tablet.is-one-third-desktop
          .mate
            .has-text-centered
              = render "picture", image: "team/athletik/laura.jpg", sizes: [350, 350, 350, 350]
              %h3.name.title.is-4 Laura
              %h4.subtitle.is-6 Coach

            %ul
              %li Functional Trainerin
              %li Fitnesstrainer C-Lizenz

            %span.has-text-weight-semibold Unsere Spezialistin für:
            %ul.has-header
              %li Funktionelles Training
              %li Regressionen & Progressionen Skills
              %li Motivation am Morgen

            %p
              %span.has-text-weight-semibold Sportlicher Background:
              %br/
              CrossFit Athletin und seit 2015 Mitglied der Physiobox.

            %p „Ich schau euch so gerne beim Leiden zu!“

            %p
              %span.has-text-weight-semibold Lieblingsübung:
              %br/
              Clean


        .column.content.is-half-tablet.is-one-third-desktop
          .mate
            .has-text-centered
              = render "picture", image: "team/athletik/julia.jpg", sizes: [350, 350, 350, 350]
              %h3.name.title.is-4 Julia
              %h4.subtitle.is-6 Coach

            %ul
              %li CrossFit - L1
              %li Functional Trainerin

            %span.has-text-weight-semibold Unsere Spezialistin für:
            %ul.has-header
              %li Funktionelles Training
              %li Regressionen & Progressionen Skills

            %p
              %span.has-text-weight-semibold Sportlicher Background:
              %br/
              CrossFit Athletin mit Teilnahme Cyprus Throwdown, jahrelang im Vereinssport aktiv und seit 2015 Mitglied der Physiobox.

            %p „Das Workout schaffst du bis zum Ende!“

            %p
              %span.has-text-weight-semibold Lieblingsübung:
              %br/
              Dumbbell Snatch


        .column.content.is-half-tablet.is-one-third-desktop
          .mate
            .has-text-centered
              = render "picture", image: "team/athletik/albi.jpg", sizes: [350, 350, 350, 350]
              %h3.name.title.is-4 Albertýna
              %h4.subtitle.is-6 Coach

            %ul
              %li Physiotherapeutin (B.&thinsp;Sc.)
              %li Yoga Instruktorin (Hathayoga)
              %li DOSB-B-Trainerin Breitensport Ski- und Schneesport (Alpin)
              %li Athletiktrainerin

            %span.has-text-weight-semibold Unsere Spezialistin für:
            %ul.has-header
              %li Yoga

            %p
              %span.has-text-weight-semibold Sportlicher Background:
              %br/
              Ehemalige Athletin des FIS - CIT Ski Alpin Kaders mit Rennen auf internationalem Niveau und Triathletin.

            %p „Aufgeben kannst du bei der Post!“

            %p
              %span.has-text-weight-semibold Lieblingsübung:
              %br/
              Krähe - „Bakasana“


        .column.content.is-half-tablet.is-one-third-desktop
          .mate
            .has-text-centered
              = render "picture", image: "team/athletik/louis.jpg", sizes: [350, 350, 350, 350]
              %h3.name.title.is-4 Louis
              %h4.subtitle.is-6 Coach

            %ul
              %li Certified Functional Trainer
              %li Tactical Training Coach

            %span.has-text-weight-semibold Unser Spezialist für:
            %ul.has-header
              %li Funktionelles Training
              %li Krafttraining
              %li Metabolic Conditioning

            %p
              %span.has-text-weight-semibold Sportlicher Background:
              %br/
              Functional Athlet, Krafttraining und Deadlift Boxrekordhalter

            %p „Was wehtut, wächst“

            %p
              %span.has-text-weight-semibold Lieblingsübung:
              %br/
              Sledgehammer, Assaultbike und Deadlift


        .column.content.is-half-tablet.is-one-third-desktop
          .mate
            .has-text-centered
              = render "picture", image: "team/athletik/hannes.jpg", sizes: [350, 350, 350, 350]
              %h3.name.title.is-4 Hannes
              %h4.subtitle.is-6 Coach

            %ul
              %li Functional Trainer
              %li Strength & Conditioning Coach

            %span.has-text-weight-semibold Unser Spezialist für:
            %ul.has-header
              %li Funktionelles Training
              %li Gewichtheben
              %li Gymnastics

            %p
              %span.has-text-weight-semibold Sportlicher Background:
              %br/
              CrossFit Athlet seit 2018 mit einigen lokalen Wettkampferfolgen und Teilnahme am Athens Throwdown 2023

            %p „get big or die trying“

            %p
              %span.has-text-weight-semibold Lieblingsübung:
              %br/
              Snatch


        .column.content.is-half-tablet.is-one-third-desktop
          .mate
            .has-text-centered
              = render "picture", image: "team/athletik/zola.jpg", sizes: [350, 350, 350, 350]
              %h3.name.title.is-4 Zola
              %h4.subtitle.is-6 Boxdog

            %ul
              %li Therapiehund

            %span.has-text-weight-semibold Unsere Spezialistin für:
            %ul.has-header
              %li Athletenbegrüßung nach Bedarf
              %li Athletencooldown nach dem Workout
              %li Beaufsichtigung der Coaches im Training

            %p
              %span.has-text-weight-semibold Sportlicher Background:
              %br/
              Athletin im Joggen, Stockheben, Freiwasserschwimmen und Wettessen

            %p „Wahuuuuuu!“

            %p
              %span.has-text-weight-semibold Lieblingsübung:
              %br/
              Ball Catch & Fetch
