%main#home{role: "main"}



  .container

    #carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#carouselExampleIndicators"}
        %li{"data-slide-to" => "1", "data-target" => "#carouselExampleIndicators"}
        %li{"data-slide-to" => "2", "data-target" => "#carouselExampleIndicators"}
        %li{"data-slide-to" => "3", "data-target" => "#carouselExampleIndicators"}
        %li{"data-slide-to" => "4", "data-target" => "#carouselExampleIndicators"}
      .carousel-inner
        .carousel-item.active
          = image_tag "slider/slider1.jpg", class: "d-block w-100"
        .carousel-item
          = image_tag "slider/slider2.jpg", class: "d-block w-100"
        .carousel-item
          = image_tag "slider/slider3.jpg", class: "d-block w-100"
        .carousel-item
          = image_tag "slider/slider4.jpg", class: "d-block w-100"
        .carousel-item
          = image_tag "slider/slider5.jpg", class: "d-block w-100"
      %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleIndicators", :role => "button"}
        %span.carousel-control-prev-icon{"aria-hidden" => "true"}
        %span.sr-only Previous
      %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleIndicators", :role => "button"}
        %span.carousel-control-next-icon{"aria-hidden" => "true"}
        %span.sr-only Next


    .row
      .col
        .welcome.text-center
          %h1
            Herzlich Willkommen bei
            .title CFB&nbsp;PHYSIO &&nbsp;FITNESS
          %h3 Ihrer Praxis für Physiotherapie, Krankengymnastik, Osteopathie und Fitnesstraining im Münchener Westend


    .row
      .col-lg-3.col-md-4.col-6.grid-image
        = image_tag "quadrat/kinesio.jpg", class: "img-fluid"
      .col-lg-3.col-md-4.col-6.grid-image
        = image_tag "quadrat/knie.jpg", class: "img-fluid"
      .col-lg-3.col-md-4.col-6.grid-image
        = image_tag "quadrat/massage.jpg", class: "img-fluid"
      .col-lg-3.col-md-4.col-6.grid-image
        = image_tag "quadrat/ruecken.jpg", class: "img-fluid"
      .col-lg-3.col-md-4.col-6.grid-image
        = image_tag "quadrat/schulter.jpg", class: "img-fluid"
      .col-lg-3.col-md-4.col-6.grid-image
        = image_tag "quadrat/schwanger.jpg", class: "img-fluid"
      .col-lg-3.col-md-4.col-6.grid-image
        = image_tag "https://via.placeholder.com/255x255", class: "img-fluid"
      .col-lg-3.col-md-4.col-6.grid-image
        = image_tag "https://via.placeholder.com/255x255", class: "img-fluid"
