%main#home{role: "main"}



  .container

    #carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#carouselExampleIndicators"}
        %li{"data-slide-to" => "1", "data-target" => "#carouselExampleIndicators"}
        %li{"data-slide-to" => "2", "data-target" => "#carouselExampleIndicators"}
        %li{"data-slide-to" => "3", "data-target" => "#carouselExampleIndicators"}
        %li{"data-slide-to" => "4", "data-target" => "#carouselExampleIndicators"}
      .carousel-inner
        .carousel-item.active
          = render "picture", image: "slider/ruecken.jpg", sizes: [1110, 930, 690, 510], alt: "Behandlung R체cken"
        .carousel-item
          = render "picture", image: "slider/behandlungsraum.jpg", sizes: [1110, 930, 690, 510], alt: "Behandlungsraum"
        .carousel-item
          = render "picture", image: "slider/hand.jpg", sizes: [1110, 930, 690, 510], alt: "Erkl채rung an einem Handmodell"
        .carousel-item
          = render "picture", image: "slider/schwanger.jpg", sizes: [1110, 930, 690, 510], alt: "Behandlung Schwanger"
        .carousel-item
          = render "picture", image: "slider/theraband.jpg", sizes: [1110, 930, 690, 510], alt: "Behandlung mit TheraBand"
      %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleIndicators", :role => "button"}
        %span.carousel-control-prev-icon{"aria-hidden" => "true"}
        %span.sr-only Previous
      %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleIndicators", :role => "button"}
        %span.carousel-control-next-icon{"aria-hidden" => "true"}
        %span.sr-only Next


    .row
      .col
        .welcome.text-center
          %h1
            Herzlich Willkommen bei
            .title CFB&nbsp;PHYSIO &&nbsp;FITNESS
          %h3 Ihrer Praxis f체r Physiotherapie, Krankengymnastik, Osteopathie und Fitnesstraining im M체nchener Westend


    .row
      .col-md-4.col-6.grid-image
        =link_to page_path("sport-reha", anchor: "personal-training") do
          = render "picture", image: "quadrat/kinesio.jpg", sizes: [350, 290, 210, 240], alt: "Personal Training"
          .grid-caption Personal Training
      .col-md-4.col-6.grid-image
        = link_to page_path("therapien", anchor: "krankengymnastik") do
          = render "picture", image: "quadrat/knie.jpg", sizes: [350, 290, 210, 240], alt: "Krankengymnastik"
          .grid-caption Krankengymnastik
      .col-md-4.col-6.grid-image
        = link_to page_path("therapien", anchor: "klassische-massage") do
          = render "picture", image: "quadrat/massage.jpg", sizes: [350, 290, 210, 240], alt: "Massage"
          .grid-caption Massage
      .col-md-4.col-6.grid-image
        = render "picture", image: "quadrat/ruecken.jpg", sizes: [350, 290, 210, 240], alt: "Osteopathische Behandlung"
        .grid-caption Osteopathische Behandlung
      .col-md-4.col-6.grid-image
        = link_to page_path("therapien", anchor: "manuelle-therapie") do
          = render "picture", image: "quadrat/schulter.jpg", sizes: [350, 290, 210, 240], alt: "Manuelle Therapie"
          .grid-caption Manuelle Therapie
      .col-md-4.col-6.grid-image
        = link_to page_path("therapien", anchor: "behandlung-von-schwangeren") do
          = render "picture", image: "quadrat/schwanger.jpg", sizes: [350, 290, 210, 240], alt: "Behandlung von Schwangeren"
          .grid-caption Behandlung von Schwangeren
