- content_for(:title, "Moderne Praxis für Physiotherapie und Fitnesstraining")
- content_for(:description, "Moderne Praxis für Physiotherapie und Fitnesstraining im Münchener Westend. Einzigartige Kompetenz aus ganzheitlicher physiotherapeutischer Behandlung mit modernem Fitnesstraining.")
- content_for(:keywords, "Physiotherapie, München, Krankengymnastik, Osteopathie, Fitnesstraining")

#home{role: "main"}



  .container

    #carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#carouselExampleIndicators"}
        %li{"data-slide-to" => "1", "data-target" => "#carouselExampleIndicators"}
        %li{"data-slide-to" => "2", "data-target" => "#carouselExampleIndicators"}
        %li{"data-slide-to" => "3", "data-target" => "#carouselExampleIndicators"}
        %li{"data-slide-to" => "4", "data-target" => "#carouselExampleIndicators"}
      .carousel-inner
        .carousel-item.active
          = render "picture", image: "slider/ruecken.jpg", sizes: [1110, 930, 690, 510], alt: "Behandlung Rücken"
        .carousel-item
          = render "picture", image: "slider/behandlungsraum.jpg", sizes: [1110, 930, 690, 510], alt: "Behandlungsraum"
        .carousel-item
          = render "picture", image: "slider/hand.jpg", sizes: [1110, 930, 690, 510], alt: "Erklärung an einem Handmodell"
        .carousel-item
          = render "picture", image: "slider/schwanger.jpg", sizes: [1110, 930, 690, 510], alt: "Behandlung Schwanger"
        .carousel-item
          = render "picture", image: "slider/theraband.jpg", sizes: [1110, 930, 690, 510], alt: "Behandlung mit TheraBand"
      %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleIndicators", :role => "button"}
        %span.carousel-control-prev-icon{"aria-hidden" => "true"}
        %span.sr-only Previous
      %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleIndicators", :role => "button"}
        %span.carousel-control-next-icon{"aria-hidden" => "true"}
        %span.sr-only Next


    .row
      .col
        .welcome.text-center
          Herzlich Willkommen bei der
          %h1.title Physiobox
          %h2 Ihrer Praxis für ganzheitliche Physiotherapie, Osteopathie und modernem Fitnesstraining im Münchener Westend


    .leistungen
      %h2 Leistungen im Überblick
      .teaser
        %p
          Unser Angebot fußt auf zwei Säulen:
          %span.highlight.pyhsio Physiotherapie/Osteopathie
          und
          %span.highlight.athletik Athletik
          %br
          %p.explainer Die Kombination dieser beiden Disziplinen führt zu einer einzigartigen Kompetenz ganzheitlicher physiotherapeutischer Behandlung mit modernem Fitnesstraining.



      = link_to page_path("physiotherapie") do
        .row.leistung
          .col-sm-5.col-md-4.col-lg-3.d-none.d-sm-block
            = render "picture", image: "quadrat/knie.jpg", sizes: [255, 210, 210, 195], alt: "Krankengymnastik"
          .col
            %h3.pyhsio Physiotherapie
            %p.lead
              Wir erstellen für unseren Patienten bei Krankengymnastische Behandlungstechniken ein individuelles Konzept, welches aus passiven und aktiven Behandlungstechniken besteht.
          .col-md-4.col-lg-3.d-none.d-lg-block

      = link_to page_path("athletik") do
        .row.leistung
          .col-md-4.col-lg-3.d-none.d-lg-block
          .col
            %h3.athletik.text-right Functional Training
            %p.text-right.lead
              Bei uns trainierst in einer Gruppe von 8-10 Personen. Persönliche Betreuung und Gruppendynamik sorgen für höchste Motivation und jede Menge Spaß.
          .col-sm-5.col-md-4.col-lg-3.d-none.d-sm-block
            = render "picture", image: "quadrat/stange.jpg", sizes: [255, 210, 210, 195], alt: "Functional Training"

      = link_to page_path("physiotherapie", anchor: "behandlung-von-schwangeren") do
        .row.leistung
          .col-sm-5.col-md-4.col-lg-3.d-none.d-sm-block
            = render "picture", image: "quadrat/schwanger.jpg", sizes: [255, 210, 210, 195], alt: "Behandlung von Schwangeren"
          .col
            %h3.pyhsio Behandlung von Schwangeren
            %p.lead
              Wir begleiten Sie in Ihrer Schwangerschaft und helfen typischen Beschwerden in der Anfangsphase und im späteren Verlauf der Schwangerschaft entgegen zu wirken.
          .col-md-4.col-lg-3.d-none.d-lg-block

      = link_to page_path("athletik", anchor: "personal-training") do
        .row.leistung
          .col-md-4.col-lg-3.d-none.d-lg-block
          .col
            %h3.athletik.text-right Personal Training
            %p.text-right.lead
              Nutzen Sie das Wissen der modernen Sportmedizin und lassen Sie sich von erfahrenen Trainern persönlich beraten und motivieren.
          .col-sm-5.col-md-4.col-lg-3.d-none.d-sm-block
            = render "picture", image: "quadrat/kinesio.jpg", sizes: [255, 210, 210, 195], alt: "Krankengymnastik"

      = link_to page_path("physiotherapie", anchor: "osteopathisches-behandlungskonzept") do
        .row.leistung
          .col-sm-5.col-md-4.col-lg-3.d-none.d-sm-block
            = render "picture", image: "quadrat/ruecken.jpg", sizes: [255, 210, 210, 195], alt: "Osteopathische Behandlung"
          .col
            %h3.pyhsio Osteopathische Behandlung
            %p.lead
              Mithilfe von Osteopathischen Behandlungen analysieren wir die Ursachen von Funktionsstörungen und betrachten den Patienten in seiner Gesamtheit statt einzelner Beschwerden oder Krankheiten.
          .col-md-4.col-lg-3.d-none.d-lg-block

      = link_to page_path("athletik", anchor: "rehabilitation-und-sporttherapie") do
        .row.leistung
          .col-md-4.col-lg-3.d-none.d-lg-block
          .col
            %h3.athletik.text-right Rehabilitation und Sporttherapie
            %p.text-right.lead
              Wir erstellen differenzierte Therapie- und Trainingsplänen nach einer Verletzung oder einem Trauma unter Beachtung der verletzten Strukturen und ihrer Heilungsverläufe.
          .col-sm-5.col-md-4.col-lg-3.d-none.d-sm-block
            = render "picture", image: "quadrat/sportphysio.jpg", sizes: [255, 210, 210, 195], alt: "Sportphysiotherapie"
