- content_for(:title, "Team")

#top-teaser

#team
  .container
    %h1 Team

    .row.justify-content-md-center
      .col-md-4.member
        .text-center
          = image_tag "team/christoph.jpg", class: "img-fluid rounded-circle"
          %h4 Christoph Reiner
          %h5 Physiotherapeut
        %p staatlich anerkannter Physiotherapeut
        %ul
          %li Manualtherapeut
          %li Sportphysiotherapeut
          %li Osteopathie i.A.
          %li Kinesiotape
          %li FMS-Certified
          %li CrossFit Level 1 Trainer
          %li Ausbilder der Fitnesstrainer B-Lizenz der Internationalen Fitness & Aerobic Akademie (IFAA)
        %p Herr Reiner betreute die U17 Bundesliga des TSV 1860 München und die U19 des FC Augsburg sowie Triathleten und Tennisspieler.

      .col-md-4.member
        .text-center
          = image_tag "team/aline.jpg", class: "img-fluid rounded-circle"
          %h4 Aline Vogt
          %h5 Physiotherapeutin
        %p staatlich anerkannte Physiotherapeutin
        %ul
          %li Manualtherapeutin
          %li Lymphtherapeutin
          %li Sportphysiotherapeutin
          %li Therapeutin für Med. Trainingstherapie
          %li Kinesiotape
          %li Osteopathie i.A.
        %p Frau Vogt betreut als Physiotherapeutin die Bundesliga Hockeymannschaft des Münchner SC (MSC)


    .row.justify-content-md-center
      .col-md-4.member
        .text-center
          = image_tag "team/lisa.jpg", class: "img-fluid rounded-circle"
          %h4 Lisa Rieß
          %h5 Physiotherapeutin
        %p staatlich anerkannte Physiotherapeutin
        %ul
          %li Lymphtherapeutin
          %li Manualtherapeutin
          %li CrossFit Level 1 Trainer

      .col-md-4.member
        .text-center
          = image_tag "team/katja.jpg", class: "img-fluid rounded-circle"
          %h4 Katja Zimmermann
          %h5 Physiotherapeutin
        %p Bachelor of Science in Physiotherapy
        %ul
          %li Manualtherapeutin
          %li Kinesiotape
          %li Therapeutin für Med. Trainingstherapie
          %li CrossFit Level 1 Trainer

      .col-md-4.member
        .text-center
          = image_tag "team/anette.jpg", class: "img-fluid rounded-circle"
          %h4 Anette Nowag
          %h5 Rezeption und Verwaltung
