- content_for(:title, "Über uns")
- content_for(:description, "Unsere Interdisziplinäre Therapiepraxis betrachtet Patienten ganzheitlich. Bei uns arbeiten nur bestens ausgebildete Therapeuten mit mehreren fachspezifischen Fortbildungen.")

#ueber-uns
  .container
    %h1.page-title Über uns

    %h2 Philosophie
    %p.lead
      Als interdisziplinäre Therapiepraxis machen wir es uns zur Aufgabe den Patienten mit seiner Problematik ganzheitlich zu betrachten.
      Darum arbeiten bei uns in der Praxis nur bestens ausgebildete Therapeuten mit mehreren fachspezifischen Fortbildungen um dem jeweiligen Krankheitsbild auf den Grund gehen zu können.
      Wir berücksichtigen in unserer Behandlung den Bewegungsapparat (Gelenke, Bänder, Muskeln, Faszien) sowie das Nervensystem und die psychoemotionale Ebene und betrachten den Patienten in seinem sozialen und beruflichen Umfeld. Darum wird der Patient in seinen Strukturen von Kopf bis Fuß untersucht um den Auslöser der Beschwerden zu finden.
      Um so wichtiger ist es  Spezialisten in den Gebieten – Physiotherapie, Osteopathie, Sportphysiotherapie, Functional Training – in unsere Praxis zu vereinen um genau diesem Anspruch gerecht zu werden und die moderne Therapie voll ausschöpfen zu können!
      Grundvoraussetzung dafür ist das präzise Verständins der Anatomie, Physiologie und Biomechanik des jeweiligen Therapeuten was bei uns von oberster Priorität steht!


    %h2 Geschäftsführung

    .row.justify-content-md-center
      .col-md-4.member
        .text-center
          = render "picture", image: "team/christoph.jpg", sizes: [350, 290, 210, 350], alt: "Christoph Reiner"
          %h4 Christoph Reiner
          %h5 Physiotherapeut
        %p staatlich anerkannter Physiotherapeut
        %ul
          %li Manualtherapeut
          %li Sportphysiotherapeut
          %li Osteopathie
          %li Kinesiotape
          %li FMS-Certified
          %li CrossFit Level 1 Trainer
          %li Ausbilder der Fitnesstrainer B-Lizenz der Internationalen Fitness & Aerobic Akademie (IFAA)
        %p Herr Reiner betreute die U17 Bundesliga des TSV 1860 München und die U19 des FC Augsburg sowie Triathleten und Tennisspieler.

      .col-md-4.member
        .text-center
          = render "picture", image: "team/aline.jpg", sizes: [350, 290, 210, 350], alt: "Aline Vogt"
          %h4 Aline Vogt
          %h5 Physiotherapeutin
        %p staatlich anerkannte Physiotherapeutin
        %ul
          %li Manualtherapeutin
          %li Lymphtherapeutin
          %li Sportphysiotherapeutin
          %li Therapeutin für Med. Trainingstherapie
          %li Kinesiotape
          %li Osteopathie
        %p Frau Vogt betreut als Physiotherapeutin die Bundesliga Hockeymannschaft des Münchner SC (MSC)


    %h2 Team

    .row.justify-content-md-center
      .col-md-3.member
        .text-center
          = render "picture", image: "team/lisa.jpg", sizes: [255, 210, 150, 350], alt: "Lisa Rieß"
          %h4 Lisa Rieß
          %h5 Physiotherapeutin
        %p staatlich anerkannte Physiotherapeutin
        %ul
          %li Osteopathie i.A.
          %li Lymphtherapeutin
          %li Manualtherapeutin
          %li CrossFit Level 1 Trainer

      .col-md-3.member
        .text-center
          = render "picture", image: "team/katja.jpg", sizes: [255, 210, 150, 350], alt: "Katja Zimmermann"
          %h4 Katja Zimmermann
          %h5 Physiotherapeutin
        %p Master of Science Sportphysiotherapie i.A.
        %ul
          %li Manualtherapeutin
          %li Kinesiotape
          %li Therapeutin für Med. Trainingstherapie
          %li CrossFit Level 1 Trainer

      .col-md-3.member
        .text-center
          = render "picture", image: "team/thomas.png", sizes: [255, 210, 150, 350], alt: "Thomas Tebbe"
          %h4 Thomas Tebbe
          %h5 Therapeut
        %ul
          %li Manuelle Lymphtherapie
          %li Shiatsu

      .col-md-3.member
        .text-center
          = render "picture", image: "team/anette.jpg", sizes: [255, 210, 150, 350], alt: "Anette Nowag"
          %h4 Anette Nowag
          %h5 Rezeption und Verwaltung
