- content_for(:title, "Kontakt")

#kontakt

  .container
    %h1.page-title Kontakt

    .row
      .col-md-7.mb-5
        %picture
          - map = "https://maps.googleapis.com/maps/api/staticmap?center=48.134,11.523592&zoom=13&markers=color:0x30b030%7C48.134,11.523592&key=AIzaSyBC7IgkmHJLl7C42c1_KWBHBYouPXLNBxs"
          %source{media: "(min-width: 1200px)", srcset: "#{map}&size=635x550&scale=2 2x, #{map}&size=635x550&scale=1 1x"}
          %source{media: "(min-width:  992px)", srcset: "#{map}&size=530x550&scale=2 2x, #{map}&size=530x550&scale=1 1x"}
          %source{media: "(min-width:  768px)", srcset: "#{map}&size=390x550&scale=2 2x, #{map}&size=390x550&scale=1 1x"}
          %source{media: "(min-width:  576px)", srcset: "#{map}&size=510x306&scale=2 2x, #{map}&size=510x306&scale=1 1x"}
          %img{class: "img-fluid", alt: "Umgebungskarte", src: "#{map}&size=545x327"}

      .col-md-5.mb-5
        #kontakt-form
          = bootstrap_form_for(@kontakt, url: kontakt_path) do |f|
            = f.text_field  :name,    label: fa_icon("user",     text: "Name")
            = f.email_field :email,   label: fa_icon("envelope", text: "E-Mail Adresse")
            = f.text_field  :subject, label: fa_icon("comment",  text: "Betreff")
            = f.text_area   :message, label: fa_icon("pencil",   text: "Nachricht"), rows: 6
            .form-group
              - if @kontakt.delivered
                .confirm Vielen Dank für Ihre Nachricht!
              - else
                = f.submit "Absenden", class: "submit"
