- content_for(:title, "Team • Physiotherapie")
-# content_for(:description, "Nutzen Sie das Wissen der modernen Sportmedizin und lassen Sie sich von erfahrenen Trainiern persönlich beraten und motivieren.")
-# content_for(:keywords, "Sport, Reha, Rehabilitation, Sporttherapie, Personal Training, Kinesiotaping, Athletik")

#team

  %section.page-header
    .container
      %h1.title.is-1 Team

  %section.section
    .container
      .columns.is-multiline.is-centered

        .column.content.is-half-tablet.is-one-third-desktop
          .mate
            .has-text-centered
              = render "picture", image: "team/physio/katharina.jpg", sizes: [350, 350, 350, 350]
              %h3.name.title.is-4 Katharina Ambros
              %h4.subtitle.is-6 Physiotherapeutin
            %ul
              %li Manuelle Therapie
              %li Manuelle Lymphdrainage
              %li Craniomandibuläre Dysfunktionen (CMD)
              %li Sportphysiotherapie
              %li Kinesiotaping
              %li CrossFit - OL1
              %li Certified Functional Trainer
              %li DOSB-C-Trainerin Leistungssport Schwimmen, Fachrichtung Synchronschwimmen
              %li Trainerin und physiotherapeutische Betreuung SG Stadtwerke München Isarnixen
              %li Ehem. Athletin SG Stadtwerke München Isarnixen, Synchronschwimmen - Deutscher Vizemeister Masters (Kombination)
              %li CrossFit Athletin


        .column.content.is-half-tablet.is-one-third-desktop
          .mate
            .has-text-centered
              = render "picture", image: "team/physio/aline.jpg", sizes: [350, 350, 350, 350]
              %h3.name.title.is-4 Aline Vogt
              %h4.subtitle.is-6 Physiotherapeutin
            %ul
              %li Osteopathiestudium nach BAO Richtlinien
              %li Osteopathische Behandlung bei Kindern Mitha & Sonntag gemäß VOD i.&thinsp;A.
              %li Biodynamische Cranialosteopathie nach der WSO i.&thinsp;A.
              %li Manuelle Therapie
              %li Manuelle Lymphdrainage
              %li Sportphysiotherapie
              %li Krankengymnastik am Gerät
              %li Kinesiotaping
              %li Physiotherapeutische Betreuung der 1. Bundesliga Hockeymannschaft des Münchner SC (2012-2018)


        .column.content.is-half-tablet.is-one-third-desktop
          .mate
            .has-text-centered
              = render "picture", image: "team/physio/stefan.jpg", sizes: [350, 350, 350, 350]
              %h3.name.title.is-4 Stefan Storch
              %h4.subtitle.is-6 Physiotherapeut
            %ul
              %li Manuelle Therapie
              %li Manuelle Lymphdrainage
              %li Sportphysiotherapie
              %li Craniomandibuläre Dysfunktionen (CMD)
              %li Kinesiotaping
              %li Myofascial Release
              %li Athletiktrainer FC Hertha München
              %li ehemaliger Spieler & Kapitän 1. Mannschaft FC Hertha München, Bezirksliga Oberbayern Süd


        .column.content.is-half-tablet.is-one-third-desktop
          .mate
            .has-text-centered
              = render "picture", image: "team/physio/lisa.jpg", sizes: [350, 350, 350, 350]
              %h3.name.title.is-4 Lisa Schnurrer, geb.&nbsp;Rieß
              %h4.subtitle.is-6 Physiotherapeutin
            %ul
              %li Osteopathie i.&thinsp;A.
              %li Heilpraktikerin
              %li Manuelle Therapie
              %li Manuelle Lymphdrainage
              %li CrossFit - L1
              %li DOSB-C-Trainerin Leistungssport Gewichtheben
              %li CrossFit Athletin
              %li Athletin Olympisches Gewichtheben - Deutsche Meisterin 2018 (-69kg)


        .column.content.is-half-tablet.is-one-third-desktop
          .mate
            .has-text-centered
              = render "picture", image: "team/physio/albi.jpg", sizes: [350, 350, 350, 350]
              %h3.name.title.is-4 Albertýna Michels, geb.&nbsp;Dobešová
              %h4.subtitle.is-6 B.Sc. Physiotherapie
            %ul
              %li Manuelle Therapie
              %li Sportphysiotherapie
              %li Craniomandibuläre Dysfunktionen (CMD)
              %li Heilpraktikerin i.A.
              %li Flossing
              %li Kinesiotaping
              %li Yogainstruktorin
              %li DOSB-B-Trainerin Breitensport Ski- und Schneesport (Alpin)
              %li Athletiktrainerin und physiotherapeutische Betreuung 1. Damenmannschaft Volleyball, DJK Sportbund München Ost e.V.
              %li Ehemalige Athletin des FIS - CIT Ski Alpin Kaders mit Rennen auf internationalem Niveau


        .column.content.is-half-tablet.is-one-third-desktop
          .mate
            .has-text-centered
              = render "picture", image: "team/physio/chris.jpg", sizes: [350, 350, 350, 350]
              %h3.name.title.is-4 Christoph Mattes
              %h4.subtitle.is-6 Physiotherapeut
            %ul
              %li Manuelle Therapie i.A.
              %li Manuelle Lymphdrainage
              %li Craniomandibuläre Dysfunktionen (CMD) i.A.
              %li Sportphysiotherapie
              %li Kinesiotaping
              %li DOSB-Trainer C Leistungssport Volleyball
              %li Spieler DJK SB München Ost e.V. Dritte Liga, Volleyball


        .column.content.is-half-tablet.is-one-third-desktop
          .mate
            .has-text-centered
              = render "picture", image: "team/physio/anne.jpg", sizes: [350, 350, 350, 350]
              %h3.name.title.is-4 Anne Scheid
              %h4.subtitle.is-6 Physiotherapeutin
            %ul
              %li Manuelle Therapie
              %li Manuelle Lymphdrainage
              %li Craniomandibuläre Dysfunktionen (CMD)
              %li Kinesiotaping
              %li Sportphysiotherapie
              %li Humanmedizinstudium i.A.


        .column.content.is-half-tablet.is-one-third-desktop
          .mate
            .has-text-centered
              = render "picture", image: "team/physio/christina.jpg", sizes: [350, 350, 350, 350]
              %h3.name.title.is-4 Christina Lampeter
              %h4.subtitle.is-6 Physiotherapeutin
            %ul
              %li Manuelle Therapie i.A.
              %li Manuelle Lymphdrainage
              %li Craniomandibuläre Dysfunktionen (CMD) i.A.
              %li Krankengymnastik am Gerät
              %li Sportphysiotherapie
              %li Kinesiotaping
              %li Zusatzstudium Physiotherapie (B.Sc.) i.A.
              %li Übungsleiterin Akrobatik Rock’n’Roll
              %li Physiotherapeutische Betreuung der Kaderathleten Standard &Latein im DTV
              %li Kaderathletin Akrobatik Rock’n’Roll in der Hauptklasse

        .column.content.is-half-tablet.is-one-third-desktop
          .mate
            .has-text-centered
              = render "picture", image: "team/physio/anette.jpg", sizes: [350, 350, 350, 350]
              %h3.name.title.is-4 Anette Nowag
              %h4.subtitle.is-6 Rezeption und Verwaltung
            Bürozeiten:
            %ul{style: "margin-top: 0.25rem; margin-bottom: 0.25rem"}
              %li Montag 10:00-15:00 Uhr
              %li Dienstag: 10:00-15:00 Uhr
              %li Mittwoch: 10:00-15:00 Uhr
              %li Donnerstag: 10:00-15:00 Uhr
              %li Freitag: 10:00-12:45 Uhr
            %span (Mittagspause 12:45-13:15 Uhr)
