%aside.column.is-one-fifth-desktop.is-one-quarter-tablet
  %nav.menu
    %p.menu-label Leistungen
    %ul.menu-list
      %li= link_to "Athletik",            page_path("athletik/leistungen/athletik"),             class: ('is-active' if current_page?(page_path("athletik/leistungen/athletik")))
      %li= link_to "Personal Training",   page_path("athletik/leistungen/personal-training"),    class: ('is-active' if current_page?(page_path("athletik/leistungen/personal-training")))
      %li= link_to "Laktatdiagnostik",    page_path("athletik/leistungen/laktatdiagnostik"),     class: ('is-active' if current_page?(page_path("athletik/leistungen/laktatdiagnostik")))
      %li= link_to "Screeningverfahren",  page_path("athletik/leistungen/screeningverfahren"),   class: ('is-active' if current_page?(page_path("athletik/leistungen/screeningverfahren")))
      %li= link_to "Präventive Vorsorge", page_path("athletik/leistungen/praeventive-vorsorge"), class: ('is-active' if current_page?(page_path("athletik/leistungen/praeventive-vorsorge")))
