%footer
  .container
    %p
      %address
        %ul.list-unstyled
          %li
            .main CrossFitBewegt Gmbh
          %li
            = fa_icon "map-marker"
            Westendstraße 185
          %li
            = fa_icon "invalid"
            80686 München
          %li
            = fa_icon "phone"
            (089) 95 49 37 10
          %li
            = fa_icon "envelope"
            = mail_to "info@crossfitbewegt.com"
