%header
  .top-bar
  .container
    %nav.navbar.navbar-expand-md
      %span.navbar-brand
        = link_to root_path do
          = image_tag "crossfitbewegt.png"
      %button.navbar-toggler.ml-auto{"aria-controls" => "navbarCollapse", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarCollapse", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon


      #navbarCollapse.collapse.navbar-collapse
        %ul.navbar-nav.ml-auto

          %li.nav-item{class: ('active' if current_page?(root_path))}
            = link_to "Home", root_path, class: "nav-link"

          %li.nav-item{class: ('active' if current_page?(page_path("therapien")))}
            = link_to "Therapien", page_path("therapien"), class: "nav-link"

          %li.nav-item{class: ('active' if current_page?(page_path("fitness")))}
            = link_to "Fitness", page_path("fitness"), class: "nav-link"

          %li.nav-item{class: ('active' if current_page?(page_path("team")))}
            = link_to "Über uns", page_path("team"), class: "nav-link"

          %li.nav-item{class: ('active' if current_page?(kontakt_path))}
            = link_to "Kontakt", kontakt_path, class: "nav-link"
