%header
  .top-bar
  .container

    %nav.level.is-mobile
      .level-left
        .level-item
          = link_to root_path do
            = image_tag "#{@logo}.png", class: "brand"
      .level-right
        .level-item
          - physio_active = "selected" if request.fullpath.start_with?(page_path("physio"))
          = link_to "Physio", page_path("physio"), class: "button is-rounded physio #{physio_active}"
        .level-item
          - athletik_active = "selected" if request.fullpath.start_with?(page_path("athletik"))
          = link_to "Athletik", page_path("athletik"), class: "button is-rounded athletik #{athletik_active}"

  = render "nav_#{@type}" unless content_for?(:skip_nav)
