%header
  .top-bar
  .container

    %nav.level.is-mobile
      .level-left
        .level-item
          = link_to root_path do
            = image_tag @logo, class: "brand", alt: "Die Physiobox Logo"
      .level-right

        %nav.main-nav
          .tabs.is-toggle.is-right
            %ul
              - physio_active = "is-active" if request.fullpath.start_with?(page_path("physiotherapie"))
              %li{class: "#{physio_active}"}
                = link_to "Physiotherapie", page_path("physiotherapie"), class: "physio"

              - athletik_active = "is-active" if request.fullpath.start_with?(page_path("funktionelles-training"))
              %li{class: "#{athletik_active}"}
                = link_to "Funktionelles Training", page_path("funktionelles-training"), class: "athletik"


  = render "nav_#{@type}" unless content_for?(:skip_nav)
