%nav.subnav.container
  .tabs.is-centered.is-toggle
    %ul

      %li{class: ('is-active' if request.fullpath.start_with?(page_path("funktionelles-training/leistungen")))}
        = link_to "Leistungen", page_path("funktionelles-training/leistungen")

      %li{class: ('is-active' if current_page?(page_path("funktionelles-training/kursangebot")))}
        = link_to "Kursangebot", page_path("funktionelles-training/kursangebot")

      %li{class: ('is-active' if request.fullpath.start_with?(page_path("funktionelles-training/preise")))}
        = link_to "Preise", page_path("funktionelles-training/preise")

      %li{class: ('is-active' if current_page?(page_path("funktionelles-training/team")))}
        = link_to "Team", page_path("funktionelles-training/team")

      %li{class: ('is-active' if current_page?(page_path("funktionelles-training/kontakt")))}
        = link_to "Kontakt", page_path("funktionelles-training/kontakt")

  :javascript
    window.addEventListener("DOMContentLoaded", () => {
      const tabs = document.querySelector("nav.subnav .tabs")
      const link = document.querySelector("nav.subnav li.is-active");
      tabs.scrollLeft = (link.offsetLeft - tabs.offsetLeft) /2;
    });
