!!!
%html{lang: "de"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}/
    %title= content_for?(:title) ? "#{content_for(:title)} • CFB Physio" : "CFB Physio"
    %link{rel: "canonical", href: url_for(only_path: false)}
    %meta{property: "og:url", content: url_for(only_path: false)}
    %meta{property: "og:title", content: content_for?(:title) ? "#{content_for(:title)} • CFB Physio" : "CFB Physio"}
    %meta{property: "og:image", content: image_url("og_image.jpg")}
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = favicon_link_tag "favicon.png", type: "image/png"

  %body{"data-offset" => "0", "data-spy" => "scroll", "data-target" => "#navbar-example3"}
    = render "header"
    = yield
    = render "footer"
