!!!
%html{lang: "de"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}/
    %title= content_for?(:title) ? "#{content_for(:title)} • Die Physiobox" : "Die Physiobox"
    %link{rel: "canonical", href: url_for(only_path: false)}
    %meta{name: "robots", content: content_for(:robots) }
    %meta{name: "description", content: content_for(:description) }
    %meta{name: "keywords", content: content_for(:keywords) }
    %meta{property: "og:url", content: url_for(only_path: false)}
    %meta{property: "og:title", content: content_for?(:title) ? "#{content_for(:title)} • Die Physiobox" : "Die Physiobox"}
    %meta{property: "og:description", content: content_for(:description) }
    %meta{property: "og:image", content: image_url("diephysiobox.png?width=300")}
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application', async: Rails.env.production?
    = favicon_link_tag "favicon.png", type: "image/png"
    %script{type: "application/ld+json"}= content_for?(:schema) ? render("schemas/" + content_for(:schema)) : ""

  %body
    %header= render "header"
    %main= yield
    %footer= render "footer"
