!!!
%html{lang: "de"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}/

    %title= content_for?(:title) ? "#{content_for(:title)} • Die Physiobox" : "Die Physiobox"
    %link{rel: "canonical", href: url_for(only_path: false)}
    %meta{name: "description", content: content_for(:description) }
    %meta{name: "keywords", content: content_for(:keywords) }
    %meta{name: "robots", content: content_for(:robots) }

    %meta{property: "og:type", content: "website"}
    %meta{property: "og:url", content: url_for(only_path: false)}
    %meta{property: "og:title", content: content_for?(:title) ? "#{content_for(:title)} • Die Physiobox" : "Die Physiobox"}
    %meta{property: "og:description", content: content_for(:description) }
    %meta{property: "og:image", content: image_url("og-image.png")}
    %meta{property: "twitter:card", content: "summary_large_image"}

    = javascript_include_tag 'application'
    %script{type: "application/ld+json"}= content_for?(:schema) ? render("schemas/" + content_for(:schema)) : ""

    - style = request.fullpath.start_with?("/physio") ? "physio" : request.fullpath.start_with?("/funktionelles-training") ? "athletik" : "home"
    = stylesheet_link_tag style, media: 'all'

    %link{rel: "icon",  href: image_url("logo-mensch-white.svg")}
    %link{rel: "mask-icon", href: image_url("logo-mensch-white.svg"), color: "#3CB451"}
    %link{rel: "apple-touch-icon", href: image_url("apple-touch-icon.png")}

  %body
    = render "header"
    %main= yield
    = render "footer"
